<!doctype html>
<html>
  <head>
    <title><%= json.project.title %></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" type="text/css" href="style.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <script src="//cdn.livefyre.com/Livefyre.js"></script>
    <%= t.include("partials/_head.html") %>
  </head>
  <body id="top">

    <%= t.include("./partials/_nav.html") %>

    <%= t.include("./partials/_ad.html", { type: "banner" }) %>

    <div class="header">
      <div class="title">
        <img src="./assets/fundEdu_headers-01.jpg">
      </div>
    </div>

    <section>
      <%= markdown.part1 %>
    </section>

    <div class="header white">
      <div class="title">
        <img src="./assets/fundEdu_headers-02.jpg">
      </div>
    </div>

    <section>
      <%= markdown.part2 %>
    </section>

    <div class="header white">
      <div class="title">
        <img src="./assets/fundEdu_headers-03.jpg">
      </div>
    </div>

    <section>
      <%= markdown.part3 %>
    </section>

    <div class="header white">
      <div class="title">
        <img src="./assets/fundEdu_headers-04.jpg">
      </div>
    </div>

    <section>
      <%= markdown.part4 %>
    </section>

    <div class="header white">
      <div class="title">
        <img src="./assets/fundEdu_headers-05.jpg">
      </div>
    </div>

    <section>
      <%= markdown.part5 %>
    </section>

    <div class="header white">
      <div class="title">
        <img src="./assets/fundEdu_headers-06.jpg">
      </div>
    </div>

    <section>
      <%= markdown.part6 %>
    </section>

    <div class="header white">
      <div class="title">
        <img src="./assets/fundEdu_headers-07.jpg">
      </div>
    </div>

    <section>
      <%= markdown.part7 %>
    </section>

    <div class="header">
      <div class="title">
        <img src="./assets/fundEdu_headers-08.jpg">
      </div>
    </div>

    <section>
      <%= markdown.part8 %>
    </section>
    
    <%= t.include("partials/_comments.html", {article: "custom-1456272446197"}) %>

    <div class="ad-bottom"><%= t.include("./partials/_ad.html", { type: "bannerBottom" }) %></div>

    <footer>
      <a class="logo" href="http://www.seattletimes.com">
        <img src="./assets/seattletimes.svg">
      </a>
    </footer>

    <script src="app.js" async></script>
    <% if (json.project.production) { %>
    <%= !json.project.embedded ? t.include("partials/_foot.html") : "" %>
    <%= t.include("partials/_workHere.html") %>
    <% } %>
  </body>
</html>
